.divCard {
  display: flex;
  flex-direction: column;
  /* background-color: #5d3891; */
  align-items: center;
  border-radius: 30px;
  margin: 20px;
}

.imgAvatar {
  width: 110px;
  height: 110px;
  object-fit: cover;
  object-position: Top;
  border-radius: 50%;
  margin-top: 10px;
}

.name,
.walletText,
.wallet {
  /* color: white; */
  margin: 5px;
}

.name {
  font-size: 30px;
}

.walletText,
.wallet {
  color: #5d3891;
}

.walletText {
  font-weight: 400;
  margin-top: 40px;
}

.wallet {
  font-size: 30px;
}

.divButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttonTopup,
.buttonLogout {
  font-size: 15px;
  width: 90%;
  border-radius: 100px;
  border: 0px solid black;
  height: 50px;
  font-weight: bolder;
  box-shadow: 1px 1px 5px 1px rgb(204, 204, 204);
}

.buttonLogout {
  background-color: rgb(239, 76, 76);
  color: white;
}

.buttonLogout:hover {
  background-color: rgb(255, 124, 124);
}

.buttonTopup:hover {
  background-color: rgb(250, 250, 250);
}
