.divBillList {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  justify-content: top;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  height: 740px;
  overflow-x: hidden;
  overflow-y: auto;
}

.divHeader {
  margin-top: 30px;
}

.hrLine {
  background-color: #5d3891;
  width: 100%;
  height: 3px;
  color: #5d3891;
  margin: 0px;
  padding: 0px;
}

.h2Bills {
  margin-bottom: 20px;
  color: #5d3891;
}

.link {
  text-decoration: none;
  width: 90%;
  color: black;
}

.billFormWrapper {
  position: relative; /* Keeps form inside the layout */
  width: 100%;
}

.billFormContainer {
  position: absolute; /* Prevents pushing content below */
  top: 5px;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* .billFormContainer {
  position: absolute;  Keeps it from pushing other elements 
  top: 10px;  Adjust as needed 
  width: 100%;
  z-index: 100;  Ensures it stays above other elements 
} */
