.divMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.divHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: #533281;
  width: 100%;
  padding-top: 5px;
  /* padding-bottom: 05px; */
}

.buttonBack {
  transform: rotate(-180deg);
  font-size: 30px;
  height: 50px;
  width: 50px;
  background-color: #533281;
  border: 1px solid transparent;
  color: white;
  margin-left: 5px;
  opacity: 70%;
}

.header {
  background-color: #533281;
  color: white;
  width: 100%;
  margin-top: 0px;
  font-weight: 100;
  padding-right: 45px;
}

.userCoins {
  font-size: 20px;
  font-weight: 500;
}

.divCoinsHistory {
  height: 750px;
  overflow-y: auto;
  overflow-x: hidden;
}
