.divFriendList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  /* gap: 20px; */
}

.divHeader {
  margin-top: 30px;
}

.divMsg {
  margin: 0px;
  padding: 0px;
  height: 20px;
  margin-bottom: 10px;
}

.pMsg {
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-justify: center;
  color: rgb(25, 176, 25);
}

.hrLine {
  background-color: #5d3891;
  width: 100%;
  height: 3px;
  color: #5d3891;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.h2Friends {
  margin-bottom: 20px;
  color: #5d3891;
}

.inputFriends {
  font-size: 18px;
  width: 90%;
  margin: 0px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid rgb(192, 192, 192);
  padding-left: 15px;
}

.inputFriends:focus {
  border: 2px solid #5d3891;
  outline: none;
}

.inputFriends:hover {
  border: 2px solid #5d3891;
  outline: none;
}

.inputFriends:focus::placeholder {
  color: transparent;
}

.divSearch {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin: 0px;
}

.buttonAdd {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 20px;
  background-color: transparent;
  margin-bottom: 15px;
}

.buttonAdd:hover {
  font-size: 22px;
}

.divFriendListMap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: top;
  justify-items: center;
  align-content: center;
  align-items: center;
  /* gap: 10px; */
}

.link {
  text-decoration: none;
  width: 100%;
  color: black;
  align-self: center;
  margin-left: 40px;
}
