.divWhole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.divMain {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to top, #7f4fc3, #533281);
  /* background-color: #5d3891; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
  width: 100%;
  /* box-shadow: 1px 1px 10px 1px rgb(169, 169, 169); */
}

.leftHeader {
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.divWallet {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-right: 20px;
}

.h2,
.h3 {
  color: rgb(237, 237, 237);
  text-align: left;
  margin-left: 20px;
}
.h2Merchants {
  margin-bottom: 0px;
  margin-top: 15px;
}

.h2 {
  margin-top: 40px;
  font-size: 30px;
}

.h3 {
  font-weight: 400;
  margin-top: 40px;
}

.wallet {
  color: white;
  font-size: 35px;
  /* margin-right: 20px; */
  margin-top: 50px;
  margin-bottom: 0px;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  font-size: 30px;
  color: rgb(48, 48, 48);
}

.buttonActive {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 18, 18);
}

.buttonActive:hover {
  background-color: rgb(243, 92, 92);
}

.button:hover {
  border: 1px solid black;
  background-color: rgb(230, 222, 231);
}

.divIcons {
  display: flex;
  flex-direction: row;
  justify-items: end;
  justify-content: end;
  margin-right: 20px;
  margin-top: 40px;
  gap: 10px;
}

.avatar {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: Top;
  margin-top: 30px;
}

.coins {
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}

.divPromo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
  border-radius: 20px;
}

.divPromoText {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 120px;
  height: 120px;
}

.span {
  font-weight: 500;
  font-size: 10px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 20px;
  padding-left: 4px;
  padding-right: 4px;
  color: rgb(101, 101, 101);
}

.promoText,
.launch,
.belanja {
  margin: 0px;
  padding: 0px;
  text-align: left;
  margin-left: 20px;
}

.launch {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 13px;
}

.promoText {
  font-size: 17px;
}

.belanja {
  font-size: 30px;
  font-weight: 750;
  color: #5d3891;
}

.link {
  text-decoration: none;
  /* width: 100%; */
  color: black;
  align-self: center;
}

.divMerchantList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 430px;
  height: 400px;
  /* background-color: aqua; */
  padding: 0px;
}
