.divMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.divHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: #533281;
  width: 100%;
  padding-top: 5px;
  /* padding-bottom: 05px; */
}

.buttonBack {
  transform: rotate(-180deg);
  font-size: 30px;
  height: 50px;
  width: 50px;
  background-color: #533281;
  border: 1px solid transparent;
  color: white;
  margin-left: 5px;
  opacity: 70%;
}

.header {
  background-color: #533281;
  color: white;
  width: 100%;
  margin-top: 0px;
  font-weight: 100;
  padding-right: 45px;
}

.link {
  text-decoration: none;
  width: 100%;
  color: black;
  align-self: center;
  margin-left: 28px;
}

.linkInactive {
  text-decoration: none;
  width: 100%;
  color: black;
  align-self: center;
  margin-left: 28px;
  opacity: 50%;
}

.divRewardsListMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: top;
  justify-items: center;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 800px;
}
