.divWelcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 5px;
  /* margin-top: 100px; */
  /* padding-bottom: 200px; */
}

.logo {
  width: 120px;
  height: 120px;
}

.divTitle {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.title {
  font-size: 3rem;
  color: #5d3891;
  margin-top: 0px;
  /* margin-top: 200px;
  margin-left: 50px; */
}

.spend {
  margin: 0px;
}

.buttonLong,
.buttonLongCreate {
  font-size: 15px;
  width: 90%;
  border-radius: 100px;
  border: 1px solid black;
  height: 50px;
  font-weight: bolder;
}

.buttonLongCreate {
  color: white;
  background-color: #5d3891;
}

.buttonLongCreate:hover {
  background-color: #6a518e;
}

.buttonLong:hover {
  background-color: rgb(214, 214, 214);
}

.inputMobile {
  padding-left: 15px;
  font-size: 18px;
  width: 85%;
  margin: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(142, 142, 142);
}

.inputMobile::-webkit-outer-spin-button,
.inputMobile::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.term {
  opacity: 70%;
}
