/* .divFriend1 {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px 1px rgb(204, 204, 204);
  width: 380px;
  border-radius: 20px;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: aqua;
} */

.divFriendInner {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 110px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);

  margin-top: 10px;
}

.divFriendInner2 {
  display: flex;
  flex-direction: row;
  width: 370px;
  height: 100px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}

.imgFriend {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: Top;
  border-radius: 50px;
  margin-right: 20px;
  margin-left: 10px;
}

.divDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  /* padding-top: 20px; */
  height: 90px;
  width: 200px;
  /* padding-left: 10px; */
}

.pName {
  font-weight: 500;
}

.pName,
.pDetails {
  text-align: left;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  font-size: 14px;
}

.divButtons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  justify-items: center;
  align-items: center;
  align-content: right;
  width: 100px;
  height: 90px;
}

.buttonActionPay,
.buttonActionNotify,
.log {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  font-weight: 600;
  margin-right: 10px;
  box-shadow: 0px 0px 5px 1px rgb(224, 224, 224);
}

.log:hover {
  background-color: rgb(245, 245, 245);
}

.buttonActionPay {
  background-color: rgb(255, 79, 79);
  color: white;
}

.buttonActionPay:hover {
  background-color: rgb(255, 109, 109);
}

.buttonActionNotify {
  background-color: rgb(25, 176, 25);
  color: white;
}

.buttonActionNotify:hover {
  background-color: rgb(30, 204, 30);
  color: white;
}

.buttonActionNotify:active,
.buttonActionPay:active {
  transform: translateY(1px);
}
